<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <h1><%= title %></h1>
    <p>Welcome to SMK Dashboard</p>
    <div class="container">
      <div class="row">
        <div id="temperature" class="col-xs-4">
          <h3>Temperature</h3>
          <p id="temp_output"></p>
        </div>
        <div id="humidity" class="col-xs-4">
          <h3>Humidity</h3>
        </div>
        <div id="door_sensor" class="col-xs-4">
          <h3>Number of times Door opened</h3>
        </div>
      </div>
      
      <div class="row">
        <div id="decibel" class="col-xs-4">
          <h3>Decibel Monitor</h3>
        </div>
        <div id="coffee" class="col-xs-4">
          <h3>Number of Beverages poured</h3>
        </div>
      </div>
    </div>

    <script>
      var socket = io();
    </script>

    <script>
      $test = $('#temp_output');
      console.log('INSIDE EJS BUT OUTSIDE THE SOCKET FUNC');

      socket.on('temp', function (data) {
        console.log($test.text());
        console.log('I AM INSIDE OF THE EJS SCRIPT!!!!!!!!!' + data);
        $test.text(data);
      });
    </script> 
  </body>
</html>