<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:900' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>  $(window).load(function(){
      $(".preloader").fadeOut("slow");
      });</script>

  <div class="preloader">
   <div><img src="../../images/loader.gif"/></div>
  </div>
    
  <div class="container">
    <h1>SMK DASHBOARD</h1>
      <div class="row text-uppercase">
        <div id="temperature" class="col-xs-4">
          <h3>Temperature</h3>
          <p><span id="temp_output"></span>°C</p>
        </div>
        <div id="humidity" class="col-xs-4">
          <h3>Humidity</h3>
            <p><span id="humid_output"></span>%</p>
        </div>
        <div id="decibel" class="col-xs-4">
          <h3>Decibel Monitor</h3>
            <p id="decibel_output"></p>
        </div>
      </div>
      <div class="row text-uppercase">
        <div id="beverage" class="col-xs-4">
          <h3>Number of Beverages poured</h3>
            <p id="beverage_output"></p>
        </div>
        <div id="door_sensor" class="col-xs-4">
          <h3>Number of times Door opened</h3>
            <p id="door_output"></p>
        </div>
      </div>
   </div>
  
    <script>
    $.getJSON('/api/temp/last', function(data){
      $('#temp_output').append(data.value);
     });
    $.getJSON('/api/humid/last', function(data){
      $('#humid_output').append(data.value);
     });
    $.getJSON('/api/door/last', function(data){
      $('#door_output').append(data.count);
     });
    $.getJSON('/api/beverage/last', function(data){
      $('#beverage_output').append(data.count);
     });
    </script>

    <script>
      var socket = io();
    </script>

    <script>
      $test = $('#temp_output');
      console.log('INSIDE EJS BUT OUTSIDE THE SOCKET FUNC');

      socket.on('temp', function (data) {
        console.log($test.text());
        console.log('I AM INSIDE OF THE EJS SCRIPT!!!!!!!!!' + data);
        $test.text(data);
      });

      $test2 = $('#humid_output');
      console.log('INSIDE EJS BUT OUTSIDE THE SOCKET FUNC');

      socket.on('humid', function (data) {
        console.log($test2.text());
        console.log('I AM INSIDE OF THE EJS SCRIPT!!!!!!!!!' + data);
        $test2.text(data);
      });


      $test3 = $('#door_output');
      console.log('INSIDE EJS BUT OUTSIDE THE SOCKET FUNC');

      socket.on('door', function (data) {
        console.log($test3.text());
        console.log('I AM INSIDE OF THE EJS SCRIPT!!!!!!!!!' + data);
        $test3.text(data);
      });

      $test4 = $('#beverage_output');
      console.log('INSIDE EJS BUT OUTSIDE THE SOCKET FUNC');

      socket.on('beverage', function (data) {
        console.log($test4.text());
        console.log('I AM INSIDE OF THE EJS SCRIPT!!!!!!!!!' + data);
        $test4.text(data);
      });



    </script> 

  </body>
</html>